header {
    text-align: center;
    vertical-align: middle;
}
header h1{
    font-size: xx-large;
}
header h2{
    font-size: medium;
}
footer {
    vertical-align: middle;
    text-align: center;
}

div#song {
    min-width: 250px;
    max-width: 700px;
}
div#songlist {
}

a:link {
    text-decoration: none;
    color: rgba(0%, 0%, 0%, 1);
}
a:visited {
    text-decoration: none;
    color: rgba(0%, 0%, 0%, 1);
}
a:hover {
    text-decoration: underline;
    color: rgba(0%, 0%, 0%, 1);
}
a:active {
    text-decoration: underline;
    color: rgba(0%, 0%, 0%, 1);
}

body {
    width: auto;
    background-color: #FFFFFF;
}
